<div class="list list-2">
	<div class="item">
		<div class="row">
			<div class="col-md-4">
				<div class="pic">
					<%= link_to image_tag('img1.jpg'), '#', class: 'img' %>
				</div>
			</div>
			<div class="col-md-8">
				<h2><a href="#">Adipiscing Ridiculus Sollicitudin</a></h2>
				<p>Cray sustainable vegan post-ironic mixtape. 8-bit sustainable sed put a bird on it keytar fingerstache et, ennui street art proident wayfarers viral ethnic. Eu craft beer anim, keffiyeh chambray occaecat jean <a href="#">shorts hella selvage</a> keytar butcher vice in. American apparel pour-over master cleanse, fingerstache etsy qui umami dreamcatcher twee. Eu sustainable nostrud, mollit ea aesthetic quinoa duis laboris.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="row">
			<div class="col-md-4">
				<div class="pic">
					<%= link_to image_tag('img2.jpg'), '#', class: 'img' %>
				</div>
			</div>
			<div class="col-md-8">
				<h2><a href="#">Elit Magna Dolor Vehicula</a></h2>
				<p>Cray sustainable vegan post-ironic mixtape. 8-bit sustainable sed put a bird on it keytar fingerstache et, ennui street art proident wayfarers viral ethnic. Eu craft beer anim, keffiyeh chambray occaecat jean <a href="#">shorts hella selvage</a> keytar butcher vice in. American apparel pour-over master cleanse, fingerstache etsy qui umami dreamcatcher twee. Eu sustainable nostrud, mollit ea aesthetic quinoa duis laboris.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="row">
			<div class="col-md-4">
				<div class="pic">
					<%= link_to image_tag('img3.jpg'), '#', class: 'img' %>
				</div>
			</div>
			<div class="col-md-8">
				<h2><a href="#">Justo Egestas Ipsum</a></h2>
				<p>Cray sustainable vegan post-ironic mixtape. 8-bit sustainable sed put a bird on it keytar fingerstache et, ennui street art proident wayfarers viral ethnic. Eu craft beer anim, keffiyeh chambray occaecat jean <a href="#">shorts hella selvage</a> keytar butcher vice in. American apparel pour-over master cleanse, fingerstache etsy qui umami dreamcatcher twee. Eu sustainable nostrud, mollit ea aesthetic quinoa duis laboris.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="row">
			<div class="col-md-4">
				<div class="pic">
					<%= link_to image_tag('img4.jpg'), '#', class: 'img' %>
				</div>
			</div>
			<div class="col-md-8">
				<h2><a href="#">Vehicula Parturient Consectetur Tortor</a></h2>
				<p>Cray sustainable vegan post-ironic mixtape. 8-bit sustainable sed put a bird on it keytar fingerstache et, ennui street art proident wayfarers viral ethnic. Eu craft beer anim, keffiyeh chambray occaecat jean <a href="#">shorts hella selvage</a> keytar butcher vice in. American apparel pour-over master cleanse, fingerstache etsy qui umami dreamcatcher twee. Eu sustainable nostrud, mollit ea aesthetic quinoa duis laboris.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="row">
			<div class="col-md-4">
				<div class="pic">
					<%= link_to image_tag('img5.jpg'), '#', class: 'img' %>
				</div>
			</div>
			<div class="col-md-8">
				<h2><a href="#">Pharetra Vulputate Ultricies</a></h2>
				<p>Cray sustainable vegan post-ironic mixtape. 8-bit sustainable sed put a bird on it keytar fingerstache et, ennui street art proident wayfarers viral ethnic. Eu craft beer anim, keffiyeh chambray occaecat jean <a href="#">shorts hella selvage</a> keytar butcher vice in. American apparel pour-over master cleanse, fingerstache etsy qui umami dreamcatcher twee. Eu sustainable nostrud, mollit ea aesthetic quinoa duis laboris.</p>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="row">
			<div class="col-md-4">
				<div class="pic">
					<%= link_to image_tag('img6.jpg'), '#', class: 'img' %>
				</div>
			</div>
			<div class="col-md-8">
				<h2><a href="#">Pharetra Vulputate Ultricies</a></h2>
				<p>Cray sustainable vegan post-ironic mixtape. 8-bit sustainable sed put a bird on it keytar fingerstache et, ennui street art proident wayfarers viral ethnic. Eu craft beer anim, keffiyeh chambray occaecat jean <a href="#">shorts hella selvage</a> keytar butcher vice in. American apparel pour-over master cleanse, fingerstache etsy qui umami dreamcatcher twee. Eu sustainable nostrud, mollit ea aesthetic quinoa duis laboris.</p>
			</div>
		</div>
	</div>
</div><!-- /list -->
<div class="content">
	<h2>Ornare Tristique Adipiscing Dolor</h2>
	<div class="row">
		<div class="col-md-7">
			<p>Cray sustainable vegan post-ironic mixtape. 8-bit sustainable sed put a bird on it keytar fingerstache et, ennui street art proident wayfarers viral ethnic. Eu craft beer anim, keffiyeh chambray occaecat jean <a href="#">shorts hella selvage</a> keytar butcher vice in. American apparel pour-over master cleanse, fingerstache etsy qui umami dreamcatcher twee.</p>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<ul>
				<li>Cray sustainable vegan</li>
				<li>Chambray occaecat jean shorts</li>
				<li>Hella selvage</li>
				<li>Over master cleanse</li>
			</ul>
		</div>
	</div>
</div>
